$widget_x_gap: 20px;
$widget_y_gap: 20px;
$widget_height_footer: 66px;
$widget_height_header: 200px;
$widget_height_header_active: 75px;
$widget_height_body: calc(80vh - #{$widget_height_header} - #{$widget_height_footer} - #{$widget_y_gap * 2});
$widget_height_body_active: calc(
  90vh - #{$widget_height_header_active} - #{$widget_height_footer} - #{$widget_y_gap * 2}
);
$widget_width: 100vw;

.chat-container {
  position: fixed;
  bottom: $widget_y_gap;
  left: $widget_x_gap;
  right: $widget_x_gap;
  .inbox_msg {
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba($color: #555, $alpha: 0.25);
    background-color: white;
    ::-webkit-scrollbar {
      width: 7px;
    }
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
      background: #bbb;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: #999;
    }
    .inbox_header {
      display: flex;
      width: 100%;
      min-height: $widget_height_header;
      max-height: $widget_height_header;
      background-image: linear-gradient(45deg, #134251, #146e78);
      transition: min-height 0.1s ease-out;
      &.active {
        min-height: $widget_height_header_active;
        max-height: $widget_height_header_active;
      }
      .greeting_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        padding: 15px;
        width: 100%;
        h4 {
          margin: 0;
          font-size: 28px;
        }
        p {
          margin: 15px 0;
        }
      }
      .chat_header {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 15px;
        .go_back {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: transparent;
          outline: none;
          border: none;
          border-radius: 15px;
          cursor: pointer;
          font-size: 24px;
          width: 45px;
          height: 45px;
          margin-right: 5px;
          padding: 0;
          color: white;
          transition: background-color 0.2s ease-out;
          &:hover {
            background-color: #eff4f833;
            .close_stripe_1 {
              min-width: 25px;
              transform: rotate(-45deg) translate(0, 0);
            }
            .close_stripe_2 {
              min-width: 25px;
              transform: rotate(45deg) translate(0, 0);
            }
          }
          .close_stripe_1 {
            position: absolute;
            background-color: white;
            min-width: 15px;
            height: 2px;
            border-radius: 25px;
            transform: rotate(45deg) translate(50%, calc(50% - 2px));
            transition: all 0.2s ease-out;
          }
          .close_stripe_2 {
            position: absolute;
            background-color: white;
            min-width: 15px;
            height: 2px;
            border-radius: 25px;
            transform: rotate(-45deg) translate(50%, 50%);
            transition: all 0.2s ease-out;
          }
        }
        .profile {
          margin-left: 10px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
        .icon {
          display: flex;
          align-items: center;
          width: 40px;
          height: 40px;
          padding: 5px;
        }
        .user_info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0 15px;
          color: #fff;
          h4 {
            text-align: left;
            margin: 0;
            font-size: 20px;
            font-weight: 200;
          }
          small {
            font-weight: 100;
            font-size: 12px;
          }
        }
      }
    }
    .mesgs {
      display: flex;
      flex: 0 0 100%;
      max-height: $widget_height_body;
      min-height: $widget_height_body;
      overflow-y: auto;
      overflow-x: hidden;
      scroll-behavior: smooth;
      margin-bottom: 30px;
      transition: min-height 0.1s ease-out, padding 0.1s ease-out;
      &.active {
        max-height: $widget_height_body_active;
        min-height: $widget_height_body_active;
        padding: 0;
      }
      .greeting {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 15px;
        .begin_conversation {
          padding: 30px 0;
          button {
            display: flex;
            align-items: center;
            margin: 0 auto;
            padding: 15px 30px;
            border-radius: 15px;
            border-radius: 15px;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
            background-color: transparent;
            color: #555;
            border: none;
            outline: none;
            transition: background-color 0.2s ease-out;
            &:hover {
              background-color: #eff4f8;
              svg {
                transform: translateX(10px);
              }
            }
            svg {
              width: 22px;
              transition: transform 0.2s ease-out;

              path {
                fill: #555;
              }
            }
          }
        }
      }
      .msgs_chat {
        display: flex;
        flex: 0 0 100%;
        .msg_history {
          display: flex;
          flex-direction: column;
          width: 100%;
          word-break: break-all;
          padding: 15px 15px 0 15px;
          background: #fff;
          .chat_message {
            position: relative;
            margin-bottom: 10px;
            max-width: 60%;
            .message_content {
              display: flex;
              .message_text {
                width: 100%;
                border-radius: 5px;
                font-size: 16px;
                margin: 0;
                padding: 10px 15px;
                text-align: left;
                word-wrap: break-word;
                word-break: keep-all;
                &.too-large {
                  word-break: break-all;
                }
              }

              .time_date {
                position: absolute;
                display: flex;
                align-items: center;
                width: max-content;
                top: 0;
                bottom: 0;
                font-size: 10px;
                margin: 0 10px;
                opacity: 1;
                transition: opacity 0.2s ease-out;
              }
            }

            &.received_msg {
              align-self: flex-start;
              &::before {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                border-top: 3px solid #eff4f8;
                border-left: 6px solid #eff4f8;
                border-right: 3px solid transparent;
                border-bottom: 6px solid transparent;
                transition: border-color 0.2s ease-out;
              }
              .message_content {
                .message_text {
                  background-color: #eff4f8;
                  color: #646464;
                  border-bottom-left-radius: 0;
                }
                .time_date {
                  left: 100%;
                  color: #747474;
                }
              }
            }
            &.outgoing_msg {
              align-self: flex-end;
              &::before {
                content: "";
                position: absolute;
                top: 100%;
                right: 0;
                border-top: 3px solid #146478;
                border-left: 3px solid transparent;
                border-right: 3px solid #146478;
                border-bottom: 3px solid transparent;
                transition: border-color 0.2s ease-out;
              }
              .message_content {
                .message_text {
                  background-color: #146478;
                  border-bottom-right-radius: 0;
                  color: #fff;
                }
                .time_date {
                  right: 100%;
                }
              }
            }
            &.bot_msg {
              align-self: flex-start;
              &::before {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                border-top: 3px solid #eff4f8;
                border-left: 6px solid #eff4f8;
                border-right: 3px solid transparent;
                border-bottom: 6px solid transparent;
                transition: border-color 0.2s ease-out;
              }
              .message_content {
                .message_text {
                  background-color: #eff4f8;
                  color: #646464;
                  border-bottom-left-radius: 0;
                }
                .bot_msg_form {
                  position: relative;
                  display: flex;
                  flex-direction: column;
                  overflow-x: hidden;
                  small {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 15px;
                    padding: 5px 5px 5px 0;
                    color: #bbb;

                    button {
                      color: #bbb;
                      background-color: transparent;
                      border: none;
                      outline: none;
                      cursor: pointer;
                    }
                  }
                  .form-control {
                    display: flex;
                    width: 100%;
                    input {
                      height: 30px;
                      width: 100%;
                      padding: 5px 10px;
                      border: none;
                      outline: none;
                      border-radius: 5px;
                    }
                    button {
                      position: absolute;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      width: 30px;
                      height: 30px;
                      right: 5px;
                      bottom: 5px;
                      border-radius: 5px;
                      color: #146478;
                      background-color: transparent;
                      padding: 0;
                      margin: 0;
                      border: none;
                      outline: none;
                      cursor: pointer;
                      font-size: 18px;
                    }
                  }
                }
                .time_date {
                  left: 100%;
                  color: #747474;
                }
              }
            }
          }
          .we_use_pimex {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: 60px;
            right: 0;
            left: 0;
            height: 20px;
            width: fit-content;
            padding: 5px 15px;
            margin: 0 auto;
            border-radius: 15px;
            opacity: 0.5;
            font-size: 12px;
            transition: background-color 0.2s ease-out, opacity 0.2s ease-out;
            &:hover {
              background-color: #eff4f8;
              cursor: pointer;
              opacity: 1;
            }
            img {
              height: 100%;
            }
            span {
              margin-left: 10px;
            }
          }
        }
      }
    }
    .inbox_footer {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: $widget_height_footer;
      transition: box-shadow 0.2s ease-out;
      &.active {
        box-shadow: 0 0 15px #00000011;
      }
      .input_msg_write {
        position: relative;
        display: flex;
        flex-basis: 100%;
        padding: 10px;
        input {
          flex-basis: 100%;
          padding: 15px;
          border-radius: 15px;
          background-color: #eff4f8;
          outline: none;
          border: none;
        }
        .msg_send_btn {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #146478;
          border-radius: 10px;
          border: none;
          cursor: pointer;
          font-size: 20px;
          height: 30px;
          right: 18px;
          top: 50%;
          width: 30px;
          transform: translateY(-50%);
        }
      }
      .we_use_pimex {
        height: 20px;
        width: fit-content;
        padding: 5px 15px;
        margin: auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        font-size: 12px;
        opacity: 0.75;
        transition: background-color 0.2s ease-out, opacity 0.2s ease-out;
        &:hover {
          background-color: #eff4f8;
          cursor: pointer;
          opacity: 1;
        }
        img {
          height: 100%;
        }
        span {
          margin-left: 10px;
        }
      }
    }
  }
}

.loader {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border: 10px solid transparent;
  border-left: 10px solid #134251;
  animation: spin 1s linear infinite;
}

.fade-tabs-enter,
.fade-tabs-leave-to {
  opacity: 0;
}

.fade-tabs-enter-active,
.fade-tabs-leave-active {
  transition: opacity 0.2s ease-out;
}

.fade-tabs-enter-to,
.fade-tabs-leave {
  opacity: 1;
}

.fade-footer-enter,
.fade-footer-leave-to {
  opacity: 0;
}

.fade-footer-enter-active,
.fade-footer-leave-active {
  transition: all 0.2s ease-out;
}

.fade-footer-enter-to,
.fade-footer-leave {
  opacity: 1;
}

.form-tabs-to-right-enter {
  opacity: 0;
  transform: translateX(50px);
}

.form-tabs-to-right-leave-to {
  opacity: 0;
  transform: translateX(-50px);
}

.form-tabs-to-right-enter-active,
.form-tabs-to-right-leave-active {
  transition: all 0.2s ease-out;
}

.form-tabs-to-right-enter-to,
.form-tabs-to-right-leave {
  opacity: 1;
  transform: translateX(0);
}

//

.form-tabs-to-left-enter {
  opacity: 0;
  transform: translateX(-50px);
}

.form-tabs-to-left-leave-to {
  opacity: 0;
  transform: translateX(50px);
}

.form-tabs-to-left-enter-active,
.form-tabs-to-left-leave-active {
  transition: all 0.2s ease-out;
}

.form-tabs-to-left-enter-to,
.form-tabs-to-left-leave {
  opacity: 1;
  transform: translateX(0);
}

.loading-messages-enter,
.loading-messages-leave-to {
  opacity: 0;
}

.loading-messages-enter-active,
.loading-messages-leave-active {
  transition: opacity 0.2s ease-out;
}

.loading-messages-enter-to,
.loading-messages-leave {
  opacity: 1;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
